.people {
  margin-top: 2rem;
  color: white;
  max-width: min(70rem, 90vw);
  margin: auto;
}

.picture {
  width: min(70%, 30rem);
  aspect-ratio: 1;
  object-fit: cover;
  position: relative;

  display: block;
  margin-inline: auto;
}

.organizator_info_container {
  width: min(70%, 30rem);
  margin-inline: auto;
  margin-bottom: 1rem;
}

.picture_odd {
  transform: translateX(2rem);
  opacity: 0;
  transition: transform 0.6s, opacity 0.6s ease-in;
}
.picture_odd.visible {
  transform: none;
}

.picture_even {
  transform: translateX(-2rem);
  opacity: 0;
  transition: transform 0.6s, opacity 0.6s ease-in;
}
.picture_even.visible {
  transform: none;
}

.organizator_info_container h2 {
  font-family: 'Montserrat', Verdana;
  font-size: clamp(0.8rem, 3.5vw, 1.4rem);
  font-weight: bold;
  line-height: 130%;

  margin-left: 0.5rem;
}
.organizator_info_container .organizator_info_container_name {
  font-size: clamp(1.2rem, 4vw, 2.1rem);
}

.organizator_info_container_odd {
  transform: translateX(2rem);
  opacity: 0;
  transition: transform 0.6s, opacity 0.6s ease-in;
}
.organizator_info_container_odd.visible {
  transform: translateX(0);
}

.organizator_info_container_even {
  transform: translateX(-2rem);
  opacity: 0;
  transition: transform 0.6s, opacity 0.6s ease-in;
}
.organizator_info_container_even.visible {
  transform: translateX(0);
}

.visible {
  opacity: 1;
}

@media (min-width: 65rem) {
  .people {
    margin-top: 4rem;
    display: grid;
    grid-template-columns:
      minmax(10px, 1fr) minmax(10px, 2fr) minmax(10px, 2fr) minmax(10px, 2fr)
      minmax(10px, 1fr);
  }

  .picture {
    margin-inline: 0;
    width: min(100%, 30rem);
  }

  .picture_odd {
    grid-column: 2;
  }

  .picture_even {
    grid-column: 4;

    justify-self: right;
  }

  .organizator_info_container {
    margin-inline: 0;
  }

  .organizator_info_container_odd {
    grid-column: 2 / span 2;
    transform: translateX(2rem);
    text-align: left;
  }
  .organizator_info_container_odd.visible {
    transform: translateX(0);
  }

  .organizator_info_container_even {
    grid-column: 3 / span 2;
    transform: translateX(-2rem);
    text-align: right;

    justify-self: right;
  }
  .organizator_info_container_even.visible {
    transform: translateX(0);
  }

  .organizator_info_container h2 {
    margin-left: 0;
  }
}
