.space_paragraph {
  color: white;
  margin: 1rem;
  padding: 1rem;
  background: #0008;
  line-height: 1.35;
  margin: auto;

  font-family: Montserrat, Verdana;
  font-size: clamp(1rem, 3vw, 1.4rem);
  text-align: center;

  max-width: min(70rem, 90vw);
}
